.game-area {
  position: relative;
  margin: 50px auto 10px auto;
  width: 600px;
  height: 400px;
  box-shadow: 6px 7px 11px -2px rgba(0, 0, 0, 0.75);
  background-color: #fff;
}

.game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 9;
}

.game-over::before {
  content: 'GAME OVER';
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: example;
  animation-duration: 1.5s;
  opacity: 0;
}

@keyframes example {
  0% {
    opacity: 0;
    font-size: 10px;
  }

  95% {
    opacity: 1;
    font-size: 75px;
  }
  100% {
    opacity: 0;
  }
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 3%;
  background-color: #333333;
  border: 1px solid #ffffff;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 3%;
  background-color: red;
  border: 1px solid #ffffff;
  z-index: 1;
}

.btn {
  text-align: center;
  width: 100%;
}

button {
  border: none;
  background-color: #3c3c3c;
  color: white;
  padding: 9px 30px;
  cursor: pointer;
}
button:hover {
  background-color: #6d6c6c;
  transition: 0.5s all;
}
